@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    @apply w-2 bg-transparent;
}

*::-webkit-scrollbar-thumb {
    @apply bg-secondary-dark;
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
    @apply bg-transparent;
}

.scrollbar-hidden:hover::-webkit-scrollbar-thumb {
    @apply bg-secondary-border;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.fancy{
    border-radius: 44% 56% 64% 36% / 68% 38% 62% 32%;
}